@import "global/fonts";
@import "variables";
@import "mixins";
@import "global/scafolding";
@import "blocks/btn";
@import "blocks/toggler";
@import "blocks/title";
@import "blocks/container";
@import "blocks/main-header";
@import "blocks/top-bar";
@import "blocks/campaign";
@import "blocks/top-header";
@import "blocks/logo";
@import "blocks/main-nav";
@import "blocks/mobile-nav";
@import "blocks/language-switch";
@import "blocks/sign-up";
@import "blocks/main-offer";
@import "blocks/choose-course";
@import "blocks/choose-profession";
@import "blocks/career";
@import "blocks/credences";
@import "blocks/road-usa";
@import "blocks/bullets";
@import "blocks/educational-programms";
@import "blocks/ask-questions";
@import "blocks/banners";
@import "blocks/courses/pop-up";
@import "blocks/courses/filters";
@import "blocks/courses/searching-form";
@import "blocks/courses/categories";
@import "blocks/courses/courses";
@import "blocks/courses/paginator";
@import "blocks/courses/aggregator";
@import "blocks/courses/education-paltforms-proposal";
@import "blocks/main-footer";
@import "blocks/footer-menu";
@import "blocks/footer-info";
@import "blocks/contact-us";
@import "blocks/news-form";
@import "blocks/main/ecosystem";
@import "blocks/main/getnews";
@import "blocks/main/join-us";
@import "blocks/main/news-form";
@import "blocks/main/options-slider";
@import "blocks/main/our-mission";
@import "blocks/main/pilot-project";
@import "blocks/main/projects-slider";
@import "blocks/main/read-us";
@import "blocks/main/slider";
