/* font-styles */

$base-font-size: 16px;
$base-line-height: 1.25;
$line-height-p: 1.57;
$base-font-weight: 400;
$base-font-family: "Gotham Pro";

/* colors */

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$accent-color: #DF3551;
$dark-text: #24272D;
$light-text: #AEAEAE;
$corp-green: #D1E92A;
$corp-blue: #00A7CF;
