/** {
    outline: 1px solid red;
}*/

body {
    margin: 0;
    min-width: 320px;
    @include font-base(12px, $base-line-height);
    letter-spacing: 0;
    background: #24272d;
    background-image: url("../images/body-background.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: 1045px;
}

h1, h2, h3, h4, p {
    margin: 0;
}

input {
    box-sizing: border-box;
}

button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

main {
    padding-bottom: 60px;
}

@media (min-width: 768px) {

    body {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {

    body {
        font-size: $base-font-size;
    }
}

@media (min-width: 1440px) {

    body {
        font-size: $base-font-size;
        background-size: 1920px;
    }
}
