/** {
    outline: 1px solid red;
}*/

body {
    margin: 0;
    width: 320px;
    @include font-base(12px, $base-line-height);
    letter-spacing: 0;
    background: #24272d;
    background-image: url("../images/body-background.png");
    background-repeat: repeat-y;
    background-position: center;
}

h1, h2, h3, h4, p {
    margin: 0;
}

input {
    box-sizing: border-box;
}

button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

main {
    padding-bottom: 60px;
}

@media (min-width: 375px) {

    body {
        width: 375px;
    }
    
}

@media (min-width: 768px) {

    body {
        width: unset;
        min-width: 768px;
        font-size: 14px;
    }
}

@media (min-width: 1024px) {

    body {
        min-width: 1024px;
        font-size: $base-font-size;
    }
}

@media (min-width: 1440px) {

    body {
        min-width: 1440px;
        font-size: $base-font-size;
    }
}
