.filters {
	padding-top: 20px;
}

@media (min-width: 1440px) {

	.filters {
		margin: 0 auto;
		padding-bottom: 20px;
		width: 1178px;
		background-color: #272A30;
		border-radius: 27px;
	}

	.filters .container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
