.footer-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-between;
}

.footer-info__logo {
	display: none;
}

.footer-info__company {
	color: $light-text;
	font-size: 12px;
	margin: 2rem 0;
}

.footer-info__polity {
	color: $light-text;
	text-decoration: none;
	font-size: 12px;
}

.footer-info__polity:hover {
	color: $corp-blue;
}

@media (min-width: 768px) {

	.footer-info {
		position: relative;
		flex-basis: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;

		&::before {
			@include element-style(80%, 1px, $white);
			top: 0;
			left: 95px;
		}
	}

	.footer-info__logo {
		position: relative;
		display: block;
		margin-right: 25px;
		width: 73px;
		height: 73px;
		background-image: $blue-gradient;
		cursor: pointer;
		
	}

	.footer-info__logo a {
		position: relative;
		@include link-style;
		width: 73px;
		height: 73px;
		padding: 22px 10px;
		box-sizing: border-box;
	}

	.footer-info__logo svg {
		width: 43px;
		height: 29px;
		fill: $white;
	}

	.footer-info__logo span {
		display: inline-block;
		position: absolute;
		left: 49px;
		top: 42%;
		font-size: 9px;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0;
		transform: rotate(-90deg) translate(0, -50%);
	}

	.footer-info__company, 
	.footer-info__polity {
		margin: 0;
		font-size: $base-font-size;
	}

}

@media (min-width: 1024px) {

	.footer-info {
		margin-top: 33px;

		&::before {
			width: 90%;
		}
	}
}
