.credences {
    padding: 20px 0 60px;
    text-align: right;
    background-image: url("../images/svg/letter.svg");
    background-repeat: no-repeat;
    background-size: 202px;
    background-position: -30% 65%;
}

.credences__title {
    text-align: left;
    font-size: 24px;
}

.credences__title span {
    line-height: 1.6;
}

.credences p {
    padding-left: 100px;
    text-align: right;
    font-size: 14px;
    color: $light-text;
    line-height: $line-height-p;
}

.credences__btn {
    margin-top: 30px;
    margin-left: auto;
}

@media (min-width: 375px) {

    .credences {
        background-position: -35% 95%;
    }

    .credences__title {
        padding: 0 15px;
        font-size: 28px;
    }
}

@media (min-width: 1440px) {

    .credences {
        padding: 30px 0;
    }

    .credences__title {
        font-weight: 400;
        padding: 0;
    }

    .credences p {
        width: 592px;
        font-size: 24px;
        padding: 0;
        text-align: left;
        margin-bottom: 55px;
    }

    .credences__btn {
        margin-top: 30px;
        margin-left: 0;
    }
}
