.blog-links-list {
  @include list-style;
  position: relative;
  display: flex;

  &__item {
    .blog-links-list__link {
      @include link-style;
      color: $light-text;
      font-size: 14px;
      font-weight: 700;
      line-height: 22px;
      margin-right: 30px;

      &:hover {
        opacity: .7;
      }

      &--active {
        color: $white;
      }
    }

  }
}

@media (min-width: 1440px) {
  .blog-links-list {
    &__item {
      .blog-links-list__link {
        font-size: 17px;
        line-height: 24px;
      }
    }
  }
}
