.blog-content__list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blog-content__item {
    position: relative;
    border: none;
    margin-bottom: 30px;
    width: 100%;
}

.blog-content__image-wrapper {
    @include link-style;
    position: relative;
    border-radius: 20px;
    margin-bottom: 30px;
    width: 100%;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.4);

    &::before {
        position: absolute;
        content: "Подробнее...";
        top: 50%;
        left: 50%;
        color: $white;
        z-index: 5;
        transform: translate(-50%, -50%);
        display: none;
    }
}

.blog-content__image-wrapper img {
    width: 100%;
    border-radius: 20px;
}

.blog-content__image-wrapper:hover img {
    opacity: 0.6;
}

.blog-content__image-wrapper:hover {

    &::before {
      display: block;
    }
}

.blog-content__item-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 293px;
}

.blog-content__title {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    margin: 0;
}

.blog-content__info {
    display: block;
    font-size: 12px;
    line-height: 13px;
    font-weight: $base-font-weight;
    text-align: left;
    margin-top: 16px;
}

.blog-content__cat-btn {
    font-size: 6px;
    width: 53px;
    height: 13px;
    align-self: center;
}

.blog-content__cat-btn ul {
    @include list-style;
}

.blog-content__cat-btn a {
    @include link-style;
}

.blog-content__btn {
    flex-basis: 100%;
    margin: 0 auto;
    width: 130px;
    height: 36px;
    color: $white;
    font-size: 14px;
    font-weight: 700;
    background-color: $dark-text;
    border: 1px solid $corp-green;
    border-radius: 7px;
    background-image: none;
    cursor: pointer;
    margin-bottom: 30px;
}

@media (min-width: 768px) {

    .blog-content__list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .blog-content__item {
        margin-right: 25px;
        width: 293px;
    }

    .blog-content__item:last-child {
      margin-right: 0;
    }

    .blog-content__image {
        width: 293px;
        height: 293px;
    }

    .blog-content__title {
      font-size: 14px;
      line-height: 17px;
    }
  
}

@media (min-width: 1024px) {

    .blog-content__list {
        justify-content: space-between;
    }

    .blog-content__item {
        width: 300px;
    }

    .blog-content__item-description {
      width: 300px;
    }
  
}

@media (min-width: 1440px) {

    .blog-content__item {
      margin-right: 15px;
      margin-bottom: 24px;
      width: 343px;
    }

    .blog-content__item:last-child {
      margin-right: 0;
    }

    .blog-content__item-description {
      width: 343px;
    }

    .blog-content__title {
      font-size: 17px;
    }

    .blog-content__btn {
      margin-bottom: 32px;
    }
}
