.blog-content {
  .blog-content__list {
    @include list-style;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .blog-content__item {
    position: relative;
    border: none;
    text-align: center;
    margin: 0;
    margin-right: 20px;
  }

  .blog-content__image-wrapper {
    position: relative;

    &::before {
      position: absolute;
      content: "Подробнее...";
      color: $white;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      z-index: 5;
      display: none;
    }

    &:hover {
      &::before {
        display: block;
      }
    }
  }

  .blog-content__image {
    border-radius: 20px;
    margin-bottom: 30px;

    &:hover {
      opacity: .6;
    }
  }

  .blog-content__title {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    margin-bottom: 16px;

    &:before {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      background-image: url("../images/svg/foodtech.svg");
      width: 53px;
      height: 14px;
    }
  }

  .blog-content__info {
    display: block;
    font-size: 12px;
    line-height: 13px;
    font-weight: $base-font-weight;
    text-align: left;
    margin-bottom: 40px;
  }

  .blog-content__item-description {
    width: 290px;
  }

  .showmore__btn {
    margin: 0 auto;
    width: 130px;
    height: 36px;
    color: $white;
    font-size: 14px;
    font-weight: 700;
    background-color: $dark-text;
    border: 1px solid $corp-green;
    border-radius: 7px;
    background-image: none;
    cursor: pointer;
    margin-bottom: 30px;
  }
}


@media (min-width: 768px) {
  .blog-content {

    .blog-content__item {
      margin: 0;
      margin-right: 20px;
    }

    .blog-content__item:last-child {
      margin-right: 0;
    }

    .blog-content__image {
      width: 270px;
      height: 270px;
    }

    .blog-content__title {
      font-size: 14px;
      line-height: 17px;
    }
  }
}

@media (min-width: 1024px) {
  .blog-content {
    .blog-content__image {
      width: 270px;
      height: 270px;
    }
  }
}

@media (min-width: 1440px) {
  .blog-content {
    .blog-content__list {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
    }

    .blog-content__item {
      margin: 0;
      margin-right: 30px;
    }

    .blog-content__item:nth-child(3n) {
      margin-right: 0;
    }

    .blog-content__image {
      width: 343px;
      height: 342px;
      margin-bottom: 7px;
    }

    .blog-content__title {
      font-size: 17px;
      margin-bottom: 8px;
    }

    .blog-content__info {
      margin-bottom: 24px;
    }

    .blog-content__item-description {
      width: 340px;
    }

    .showmore__btn {
      margin-bottom: 32px;
    }
  }
}







