.blog-links-list {
  @include list-style;
  position: relative;
  display: flex;
  //margin-bottom: 45px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $white;
    bottom: -10px;
    left: 0;
  }

  &__item {
    .blog-links-list__link {
      @include link-style;
      color: $light-text;
      font-size: 14px;
      font-weight: 700;
      line-height: 22px;
      margin-right: 30px;

      &:hover {
        color: $white;
      }

      &--active {
        color: $white;
      }
    }

  }
}

@media (min-width: 1440px) {
  .blog-links-list {
    margin-bottom: 30px;

    &:before {
      bottom: -14px;
    }

    &__item {
      .blog-links-list__link {
        font-size: 17px;
        line-height: 24px;
      }
    }
  }
}
