.ecosystem {
    position: relative;
    padding-top: 115px;
    padding-bottom: 85px;
    margin:80px 0;
    width: 100%;
    background-image: 
        url("../images/svg/phone.svg"), 
        url("../images/svg/tablet.svg");
    background-repeat:
        no-repeat,
        no-repeat;
    background-size:
        158px 253px,
        327px 388px;
    background-position:
        230px 350px,
        265px 215px;
    color: $dark-text;
    background-color: $white;

        &::before {
        @include clouds(80px, -79px);
    }

    &::after {
        @include clouds-bottom(80px, -79px, -78px);
    }
}

.ecosystem__title span {
    display: block;
}

.ecosystem p {
    font-size: 14px;
    line-height: 1.66;
    width: 240px;
    margin-bottom: 40px;
}

.ecosystem__form select {
    background-color: rgba(0,0,0, 0.8);
}

.ecosystem .sign-up {
    padding-bottom: 10px;
}

.ecosystem .sign-up .sign-up__mark {
    background-color: $dark-text;
}

.ecosystem .sign-up__options {
    background-color: $dark-text;
}

@media (min-width: 768px) {
    .ecosystem p {
        font-size: 20px;
        width: 400px;
    }

    .ecosystem__title {
        max-width:640px;
    }

    .ecosystem {
        
        background-size: 350px 563px, 617px 733px;
        background-position: 70% 220px, 617px 100px;
    }
}

@media (min-width: 1024px) {

    .ecosystem {
        margin: 131px 0;
        padding: 0;
        background-image: none;

        &::before {
            @include clouds(100px, -99px);
        }

        &::after {
            @include clouds-bottom(100px, -99px, -99px);
        }
    }

    .ecosystem .container {
        padding-top: 420px;
        padding-bottom: 197px;
        background-image: 
            url("../images/svg/phone.svg"), 
            url("../images/svg/tablet.svg");
        background-repeat:
            no-repeat,
            no-repeat;
        background-size:
            351px 563px,
            617px 733px;
        background-position:
            unset,
            unset;
        background-position:
            right 56px bottom,
            right -316px bottom 33px;
    }
}

@media (min-width: 1440px) {

    .ecosystem {
        margin: 131px 0;

        &::before {
            @include clouds(131px, -130px);
            background-position: 50%;
        }

        &::after {
            @include clouds-bottom(131px, -130px, -130px);
        }
    }

    .ecosystem p {
        font-size: 24px;
        width: 491px;
    }

    .ecosystem__title {
        max-width:660px;
    }
}
