.getnews {
	padding-bottom: 5px;
	width: 100%;
}

.getnews input[type="email"] {
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	
	.getnews__btn {
		margin-top: 15px;
		width: 267px;
		height: 48px;
		font-size: 16px;
		border-radius: 15px;
	}
}

@media (min-width: 1440px) {
    
    .getnews input[type="email"] {
    	width: 267px;
    }
}
