.join-us {
	padding-top: 43px;
	padding-bottom: 28px;
}

.join-us__title {
	width: 77%;
	line-height: 1.4;
	letter-spacing: -1px;
}

.join-us p {
	margin-bottom: 30px;
	width: 87%;
	font-size: 14px;
    line-height: 1.66;
    color: $light-text;
    letter-spacing: -1px;
}

.join-us p span {
	display: block;
}

.join-us__slider {
	margin: 0 auto;
	margin-bottom: 40px;
}

.join-us .sign-up {
	margin: 0 auto;
}

@media (min-width: 768px) {

	.join-us__form {
		align-self: center;
		position: relative;
		margin-top: -120px;
	}

	.join-us__text {
		width: 646px;
		margin-top:40px;
	}

	.join-us p {
		font-size: 20px;
	}
}

@media (min-width: 1024px) {

	.join-us {
        padding: 0;
	}

	.join-us .container {
		position: relative;
		padding-top: 130px;
        padding-bottom: 10px;
	}

	.join-us__title {
		width: 55%;
	}

	.join-us p {
		margin-bottom: 70px;
		width: 52%;
		font-size: 24px;
	}

	.join-us__slider {
		position: absolute;
		margin: 0;
		right: 10px;
		top: 110px;
	}
}
