.join-us > .container {
	padding:100px 0;
	display: flex;
	flex-direction: column;
	margin: 40px 10px;
}

.join-us p {
	font-size: 14px;
    line-height: 1.66;
    color: $light-text;
}

.join-us__form {
	align-self: center;
	margin-top: 40px;
}


@media (min-width: 768px) {
	.join-us > .container {
		flex-direction: row;
		flex-wrap: wrap;
		padding-left: 30px;

	}
	.join-us__form {
		align-self: center;
		position: relative;
		margin-top: -120px;
	}

	.join-us__text {
		width: 646px;
		margin-top:40px;
	}

	.join-us p {
		font-size: 20px;
		padding-right: 40px;
	}

	.join-us__title {
		padding-right: 50px;
	}
}

@media (min-width: 1440px) {
	.join-us > .container {
		margin:auto;
		padding-left: 0px;
	}

	.join-us p {
		padding-top: 20px;
		font-size: 24px;
	}
}
