.news-form {
	display: none;
}

.footer-link {
	color: $corp-blue;
	text-decoration: none;
}

.news-form__email-input, .news-form__btn {
    @include font-base ($base-font-size, $base-line-height);
	padding: 12px 28px;
	border-radius: 10px;
}

.news-form__email-input {
	border: none;
	text-align: center;
	color: $light-text;
}

.news-form__btn  {
	font-weight: 700;
	box-shadow: 7px 6px 3px rgba(0, 0, 0, 0.2);
	margin:10px 0px;
	background-image: linear-gradient(to bottom, rgba(0,167,207,1) 0%,rgba(1,98,122,1) 100%);
	cursor: pointer;
}

.news-form__info-polity {
	font-size: 10px;
}

@media (min-width: 1024px) {
	.news-form {
	display: flex;
	flex-direction: column;
}

}
