.pilot-project {
    position: relative;
    margin: 79px 0;
    padding-top: 8px;
    padding-bottom: 20px;
    color: $dark-text;
    background-color: $white;
    background-image: url("../images/svg/meeting.svg");
    background-size: 281px;
    background-repeat: no-repeat;
    background-position: 175px 123px;

    &::before {
        @include clouds(80px, -79px);
    }

    &::after {
        @include clouds-bottom(80px, -79px, -79px);
    }
}

.pilot-project__text-block {
    margin-bottom: 50px;
    
    &:first-of-type {
        margin-bottom: 170px;
    }

    &:nth-of-type(3) {
        margin-bottom: 0;
        text-align: center;
    }
}

.pilot-project__text {
    font-size: 14px;
    line-height: 1.66;
}

.pilot-project__text span {
    display: block;
}

.pilot-project__text-block:nth-of-type(2) p {
    width: 88%;
}

.pilot-project__text-block-title-small {
    font-size: 22px;
}

.pilot-project__text-block-title span {
    display: block;
}

.pilot-project__btn {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

@media (min-width: 375px) {

    .pilot-project {
        background-position: 162px 103px;
    }    
}

@media (min-width: 768px) {

    .pilot-project {
        background-position: right 5% top 70px;
    }

    .pilot-project__text span {
        display: inline-block;
    }

    .pilot-project__text-block p {
        font-size: 20px;
        line-height: 1.45;
    }

    .pilot-project__text-block {

        &:first-of-type {
            margin-bottom: 40px;
            width: 65%;
        }

        &:nth-of-type(2) {
            width: 70%;
        }
    }

    .pilot-project__btn {
        border-radius: 10px;
        font-size: 16px;
        width: 202px;
        padding: 10px 0;
    } 
}

@media (min-width: 1024px) {

    .pilot-project {
        margin: 100px 0;
        background-image: none;

        &::before {
            @include clouds(100px, -99px);
        }

        &::after {
            @include clouds-bottom(100px, -99px, -99px);
        }
    }

    .pilot-project .container {
        background-image: url("../images/svg/meeting.svg");
        background-repeat: no-repeat;
        background-size: 370px;
        background-position: left 0 top 30px;
    }

   

    .pilot-project__text {
        margin-left: auto;
    }

    .pilot-project__text-block {
        margin-left: auto;
        width: 48%;

        &:first-of-type {
            width: 60%;
        }

        &:nth-of-type(2) {
            width: 60%;
        }

        &:last-of-type {
            margin: 0 auto;
            width: 60%;
        }
    }

    .pilot-project__text-block:nth-of-type(2) p {
        width: 100%;
    }

    .pilot-project__text-block .title__secondary {
        margin-bottom: 20px;
    }

    .pilot-project__text-block-title-small {
        font-size: 34px;
    }

    .pilot-project__text-block-title span {

        &:first-of-type {
            display: inline-block;
        }
    }

    .pilot-project__btn {
        width: 267px;
        height: 48px;
    }
}

@media (min-width: 1440px) {

    .pilot-project {
        margin: 131px 0;

        &::before {
            @include clouds(131px, -130px);
            background-position: 50%;
        }

        &::after {
            @include clouds-bottom(131px, -129px, -129px);
        }
    }

    .pilot-project .container {
        background-size: 487px;
        background-position: left 22px top 30px;
    }

    .pilot-project__text-block {
        margin-left: auto;

        &:first-of-type {
            width: 48%;
        }

        &:nth-of-type(2) {
            margin-bottom: 116px;
            width: 48%;
        }
    }

    .pilot-project__text-block-title-small {
        font-size: 40px;
    }

    .pilot-project__text-block p {
        font-size: 24px;
    }
}

@media (min-width: 1820px) {

    .pilot-project {
        margin: 200px 0;

        &::before {
            @include clouds(200px, -199px);
            background-position: 50%;
        }

        &::after {
            @include clouds-bottom(200px, -198px, -198px);
        }
    }
}
