.read-us {
	padding-top: 20px;
	padding-bottom: 42px;
}

.read-us__text {
	color: $light-text;
	font-size: 14px;
	width: 80%;
	margin-bottom: 30px;
}

.read-us__link {
	@include link-style;
	text-transform: uppercase;
	color: $corp-blue;
	font-size: 14px;
	font-weight: 600; 
}

.read-us__title-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	max-width: 580px;
	margin-bottom: 15px;
}

.read-us__title {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.read-us__text {
		font-size: 24px;
		line-height: 2;
	}
}

@media (min-width: 1440px) {
    
    .read-us {
    	padding-top: 125px;
    	padding-bottom: 46px;
    }

	.read-us .container {
		position: relative;
		overflow: visible;
	}

	.read-us__title-container {
		margin-bottom: 25px;
	}

	.read-us__text {
		width: 47%;
		font-size: 24px;
		margin-bottom: 55px;
	}

	.read-us .getnews input[type="email"] {
		margin: 0;
		margin-right: 45px;
	}

	.read-us .getnews__btn {
		display: inline-block;
		margin: 0;
	}
}
