.slider {
	align-self: center;
	position: relative;
	margin-bottom:7px;
	margin-top: 20px;
	width: 204px;
	height: 246px;
	border-radius: 15px;
	background-color: $dark-text;
	box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.16);
}

.slider__item {
	position: relative;
	display: none;
	/* javascript changes display to flex */
	flex-direction: column;
	align-items: center;
}

.slider__item::after {
	content: '';
	width: 155px;
	height: 1px;
	background-color: $white;
	position: absolute;
	margin-top: 163px;
}

.item--two::after {
	margin-top: 161px;
}

.item--three::after {
	margin-top: 159px;
}

.item--four::after {
	margin-top: 157px;
}

.item--five::after {
	margin-top: 161px;
}





.slider__item img {
	width:103px;
	height: 134px;
	margin:30px auto 20px;
	align-self: center;

}

.slider__caption {
	color: $light-text;
	font-size: 14px;
	text-align: center;
}

.dots {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 13px;
}

.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 0.5px;
  background-color: $white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.active, .dot:hover {
  background-color: $corp-blue;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (min-width: 768px) {
	.slider {
	 width: 402px;
	 height: 486px;
	}

	.slider__item::after {
		width: 305px;
		margin-top: 295px;
	}

	.slider__caption {
		font-size: 24px;
		margin-top:25px;
	}

	.slider__item img {
		width: 204px;
		height: 265px;
	}

	.dot {
		height: 10px;
  		width: 10px;
	}

	.dots {
		margin-top: 40px;
	}

	.item--two::after {
		margin-top: 287px;
	}

	.item--three::after {
		margin-top: 284px;
	}

	.item--four::after {
		margin-top: 281px;
	}

	.item--five::after {
		margin-top: 289px;
	}
}

@media (min-width: 1440px) {

}