.ask-questions__title {
	margin-bottom: 24px;
	font-size: 24px;
	font-weight: 700;
}

.ask-questions form {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
}

.ask-questions input[type="email"] {
	margin-bottom: 20px;
}

.ask-questions__btn {
	padding: 0;
	width: 167px;
	border-radius: 7px;
	white-space: nowrap;
}

.ask-questions__link {
	display: block;
	text-align: center;
	color: $corp-blue;
	text-decoration: underline;
}
