.banners {
	position: relative;
    margin: 69px 0;
    height: 60px;
	color: $dark-text;
	background-color: $white;

	&::before {
		@include clouds(80px, -79px);
	}

	&::after {
		@include clouds-bottom(80px, -79px, -79px);
	}
}

.banners__title {
	display: none;
}

.banners__list {
	@include list-style;
	position: absolute;
	display: flex;
	flex-direction: row;
	height: 60px;
	top: 0;
	left: -52px;
}

.banners__item:nth-child(odd) {
	margin-top: auto;
}

.banners__item:nth-child(even) {
	margin-bottom: auto;
}

.banners__item img {
	width: 100px;
}

.banners__link {
	@include link-style;
}

@media (min-width: 1024px) {

	.banners {
		margin: 100px 0;
		height: unset;

		&::before {
            @include clouds(100px, -99px);
        }

        &::after {
            @include clouds-bottom(100px, -99px, -99px);
        }
	}

	.banners__title {
		display: block;
		margin-bottom: 15px;
		font-size: 15px;
		font-weight: 400;
	}

	.banners__list {
		position: static;
		align-items: center;
	}

	.banners__item:nth-child(odd) {
		margin-top: 0;
	}

	.banners__item:nth-child(even) {
		margin-bottom: 0;
	}

	.banners__item {
		margin-right: 18px;
	}
	
}

@media (min-width: 1440px) {

	.banners {
		margin: 131px 0;

		&::before {
		@include clouds(131px, -130px);
	    }

	    &::after {
            @include clouds-bottom(131px, -130px, -129px);
        }
	}
	
	.banners__item {
		margin-right: 32px;
	}

	.banners__item img {
		width: 144px;
	}
}

@media (min-width: 1820px) {

    .banners {
        margin: 200px 0;

        &::before {
            @include clouds(200px, -199px);
            background-position: 50%;
        }

        &::after {
            @include clouds-bottom(200px, -198px, -198px);
        }
    }
}
