.btn {
	@include link-style;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 11px;
	color: $white;
	font-weight: 700;
	white-space: nowrap;
	border-radius: 7px;
	background-image: $blue-gradient;
	box-sizing: border-box;
	box-shadow: 7px 6px 3px 0 rgba(0, 0, 0, 0.16);
	cursor: pointer;
}

.btn--accent {
    background-image: $red-gradient;
}

.btn--green {
	color: $dark-text;
	background-image: $green-gradient;
}

.btn--small {
	height: 30px;
	width: 167px;
}

.btn--big {
	width: 202px;
	font-size: 12px;
	height: 36px;
}

@media (min-width: 768px) {

	.btn {
		font-size: 13px;
	}
}

@media (min-width: 1024px) {

	.btn {
		border-radius: 15px;
		font-size: 16px;
	}
}

@media (min-width: 1440px) {

	.btn--big {
		height: 48px;
	}
}
