.educational-programms {
    position: relative;
    margin: 69px 0;
    padding: 10px 0;
    text-align: center;
    color: $dark-text;
    background-color: $white;

    &::before {
        @include clouds(80px, -79px);
    }

    &::after {
        @include clouds-bottom(80px, -79px, -79px);
    }
}

.educational-programms__title {
    text-align: left;
}

.educational-programms__inner-wrap {
    position: relative;
    width: 100%;
    height: 340px;
}

.educational-programms__list {
    @include list-style;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.educational-programms__item {
    margin-right: 30px;
    padding: 94px 16px 21px;
    width: 274px;
    border-radius: 17px;
    background-color: $white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center 20px;

    &:last-of-type {
        margin-right: 0;
    }
}

.educational-programms__item--school {
    background-image: url("../images/icons/icon-backpack.svg");
}

.educational-programms__item--junior {
    background-image: url("../images/icons/icon-find.svg");
}

.educational-programms__item--middle {
    background-image: url("../images/icons/icon-web-development.svg");
}

.educational-programms__item--school .title__third {
    width: 105px;
}

.educational-programms__item .title__third {
    text-align: left;
    margin-bottom: 19px;
}

.educational-programms__item p {
    text-align: left;
    font-size: 14px;
    line-height: $line-height-p;
    letter-spacing: 0;
}

.educational-programms__btn {
    margin: 0 auto;
    margin-bottom: 10px;
}
