.main-offer {
	position: relative;
	padding-top: 26px;
	padding-bottom: 53px;
	width: 100%;
	background-repeat: no-repeat;
}

.main-offer .container {
	overflow: visible;
}

.main-offer__text-block {
	font-size: 14px;
	line-height: 1.66;
	color: $light-text;
}

.main-offer p {
	margin-bottom: 50px;
	font-size: 14px;
	line-height: 1.66;
	color: $light-text;
}

/* Стили для main-offer главной страницы */

.main-offer--main {
	background-image: url("../images/svg/corn.svg");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: 190px 105px;
}

.main-offer--main .main-offer__text-block {
	margin-bottom: 30px;
}

.main-offer--main p {
	margin-bottom: 0;
	width: 70%;
}

.main-offer--main .title {
	margin-bottom: 30px;
	line-height: 1.1;
}

.main-offer--main .title__strong {
	font-size: 42px;
	letter-spacing: 1px;
}

.main-offer--main .title__small {
	margin-left: 7px;
	letter-spacing: -1px;
}

.main-offer--main .title__colored {
	color: $corp-blue;
}

/* Стили для main-offer страницы Обучение */

.main-offer--education {
	background-image: url("../images/svg/svg-student.svg");
	background-position: 160px 20px;
}

.main-offer--education .title {
	margin-bottom: 70px;
}

.main-offer--education p {
	margin-bottom: 46px;
	width: 70%;
}

.main-offer--education .sign-up__btn {
	color: $dark-text;
	background-image: $green-gradient;
}

.main-offer--education .title span,
.main-offer--courses .title span {
	display: block;
}

/* Стили для main-offer страницы Обучение - внутренняя (курсы) */

.main-offer--courses {
	padding-bottom: 20px;
}

.main-offer--courses .title span {
	margin-bottom: 20px;
}

.main-offer__text--desktop {
	display: none;
}

.main-offer--courses p,
.main-offer--courses .sign-up {
	display: none;
}

.main-offer--courses .title {
	font-size: 32px;
}

/* Стили для main-offer страницы Стартапам */

.main-offer--startup {
	background-image: url("../images/svg/rocket1.svg");
    background-repeat: no-repeat;
	background-size: 200%;
    background-position: -15px 152px;
    padding-bottom: 81px;
    padding-top: 16px;
}

.main-offer--startup .main-offer__text-block {
	margin-bottom: 36px;
}

.main-offer--startup p {
	margin-bottom: 50px;
	width: 80%;
	line-height: 1.5;
}

.main-offer--startup .title {
	margin-bottom: 25px;
	font-size: 25px;
	letter-spacing: 1px;
	line-height: 1.4;
}

.main-offer--startup .title__colored {
	color: $corp-blue;
}

.main-offer--startup .title__bullet .title__colored:first-child {
	color: $corp-green;
}

.main-offer--startup .title__bullet {
	padding-left: 0;

	::before {
		content: none;
	}
}

/* Стили для main-offer страницы Кубок Сократа */

.main-offer--socrat {
	background-image: url("../images/svg/socrat-main-bg.svg");
    background-repeat: no-repeat;
	background-size: 345px;
	background-position: bottom 200px left 20px;
    padding-bottom: 110px;
    padding-top: 25px;
}

.main-offer--socrat .main-offer__text-block {
	margin-bottom: 36px;
}

.main-offer--socrat p {
    padding-bottom: 260px;
	width: 85%;
	font-size: 20px;
}

.main-offer--socrat .title {
	font-size: 45px;
	margin-bottom: 10px;
	letter-spacing: 1px;
	line-height: 1.2;
}

.main-offer--socrat .btn-socrat{
    margin-right: auto;
}



@media (min-width: 375px) {
	/* Стили для main-offer главной страницы */

	.main-offer--main {
		background-position: 225px 55px;
		background-size: 256px 322px;
	}

	.main-offer--main p {
		width: 65%;
		line-height: 1.9;
	}

	/* Стили для main-offer страницы Обучение */

	.main-offer--education {
		background-position: 190px 12px;
	}

	/* Стили для main-offer страницы Обучение - внутренняя (курсы) */

	.main-offer--courses .title {
		font-size: 36px;
	}

	/* Стили для main-offer страницы Стартапам */

	.main-offer--startup {
	background-size: 280%;
	background-position: -172px 94px;
	padding-bottom: 270px;
	}
	
	.main-offer--startup .title {
		font-size: 30px;
	}
	.main-offer--startup p {
		width: 72%;
	}

	/* Стили для main-offer страницы Кубок Сократа */

	.main-offer--socrat title {
		font-size: 50px;
	}
	.main-offer--socrat p {
		font-size: 25px;
	}
}

@media (min-width: 768px) {
	.main-offer__text-block {
		font-size: 20px;
	}

	.main-offer p {
		font-size: 20px;
		width: 50%;
	}

	/* Стили для main-offer главной страницы */

	.main-offer--main {
		background-size: 360px;
		background-position: 380px 120px;
	}

	.main-offer--main .title__strong {
		font-size: 61px;
	}

	/* Стили для main-offer страницы Обучение */

	.main-offer--education {
		background-position: 95% 0;
	}

	/* Стили для main-offer страницы стартапам*/

	.main-offer--startup {
		background-size: 170%;
		background-position: right -570px top 55px;
	}

	.main-offer--startup .title__strong {
		font-size: 50px;
	}
	.main-offer--startup p {
		width: 52%;
	}

    /* Стили для main-offer страницы Кубок Сократа*/


	.main-offer--socrat {
		padding-top: 40px;
        background-size: 360px;
		background-position: bottom 218px right;
	}

	.main-offer--socrat p {
        font-size: 28px;
		width: 50%;
		padding-bottom: 0;
	}
}

@media (min-width: 1024px) {
	.main-offer {
		padding-bottom: 140px;
	}

	/* Стили для main-offer главной страницы */

	.main-offer--main {
		background-image: none;
	}

	.main-offer--main .container {
		background-image: url("../images/svg/corn.svg");
		background-size: 360px;
		background-repeat: no-repeat;
		background-position: right 10px center;
	}

	.main-offer--main .title__small {
		margin-left: 9px;
	}

	.main-offer--courses .container {
		padding-bottom: 70px;
		background-image:
		    url("../images/svg/socrat.svg"),
            url("../images/svg/campaigns.svg"),
		    url("../images/svg/socrat2.svg");
		background-size:
		    188px,
		    200px,
		    200px;
		background-repeat:
		    no-repeat,
		    no-repeat,
		    no-repeat;
		background-position:
		    right 100px top 50px,
		    right 210px top 0,
		    right 0 top 0;
	}

	.main-offer--courses .title {
		margin-bottom: 22px;
	}

	.main-offer--courses p {
		display: block;
		width: 51%;
	}

	.main-offer--courses .sign-up {
		display: flex;
	}

	.main-offer--courses .sign-up__dropdown {
		margin-right: 30px;
	}

	/* Стили для main-offer страницы стартапам*/

	.main-offer--startup {
		background-size: 1326px;
		padding-bottom: 250px;
		padding-top: 80px;
	}

	.main-offer--startup p {
        width: 100%;
	}

	.main-offer--startup .main-offer__text-block {
		width: 600px;
	}

	.main-offer--startup .title__strong {
		position: relative;
		font-size: 70px;
		line-height: 1.2;
	}

	.main-offer--startup .title__bullet {
		padding-left: 25px;

		::before {
			content: "";
		}
	}

	/* Стили для main-offer страницы Кубок Сократа*/

	.main-offer--socrat {
		background-size: 500px;
		background-position: bottom 151px right;
	}

	.main-offer--socrat .title {
		font-size: 60px;
	}

	.main-offer--socrat p {
		width: 50%;
		padding-bottom: 0;
	}
}

@media (min-width: 1440px) {
	.main-offer p {
		font-size: 24px;
	}

	/* Стили для main-offer главной страницы */

	.main-offer--main {
		padding-top: 40px;
		background-image: none;
	}

	.main-offer--main .container {
		position: relative;
		overflow: visible;
		background-image: none;

		&::before {
			@include element-style(558px, 701px, transparent);
			right: -141px;
			background-image: url("../images/svg/corn.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}

		&::after {
			@include element-style(220px, 325px, transparent);
			left: -95px;
			bottom: -63px;
			background-image: url("../images/svg/rocket-main-offer.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			transform: translate(0, 72%);
			opacity: 0.5;
		}
	}

	.main-offer--main .title {
		margin-bottom: 20px;
		font-size: 88px;
	}

	.main-offer--main .title__strong {
		font-size: 112px;
	}

	.main-offer--main .title__small {
		margin-left: 33px;
	}

	.main-offer--main p {
		margin-bottom: 40px;
		width: 574px;
	}

	/* Стили для main-offer страницы Обучение */

	.main-offer--education {
		padding-top: 130px;
		background-size: contain;
		background-position: 80% 20%;
	}

	.main-offer--education .title {
		margin-top: 10px;
		margin-bottom: 44px;
	}

	.main-offer--education p {
		margin-bottom: 34px;
		width: 574px;
	}

	.main-offer--education .sign-up__dropdown {
		margin-bottom: 160px;
	}

	/* Стили для main-offer страницы Обучение - внутренняя (курсы) */

	.main-offer--courses {
		padding-top: 44px;
		padding-bottom: 67px;
	}

	.main-offer--courses .container {
		padding: 0;
		background-position:
		    right 116px top 99px,
		    right 237px top 0,
		    right 0 top 0;
	}

	.main-offer--courses .title {
		font-size: 70px;
		line-height: 1.4;
	}

	.main-offer--courses .title span {
		margin-bottom: 0;
	}

	.main-offer--courses p {
		width: 552px;
	}

	.main-offer--courses .sign-up__dropdown {
		margin-right: 50px;
	}

	.main-offer__text--desktop {
		display: block;
	}

	.main-offer__text--mobile {
		display: none;
	}

	/* Стили для main-offer страницы стартапам*/

	.main-offer--startup {
		background-image: 
		    url("../images/svg/rocket1.svg"), 
		    url("../images/svg/rocket-small.svg");
		background-size: 
		    1326px, 
		    450px;
		background-position: 
		    right -472px top 17px, 
		    left -105px bottom -219px;
	}

	.main-offer--startup .title { 
		margin-bottom: 0;
	}

	.main-offer--startup p { 
		margin-bottom: 64px;
	}

	.main-offer--startup .main-offer__text-block {
		width: 730px;
	}

    /* Стили для main-offer страницы Кубок Сократа*/

	.main-offer--socrat {
        background-size: 550px;
        background-position: bottom 151px right 15%;
	}

	.main-offer--socrat p {
		font-size: 34px;
		width: 60%;
	}

}

@media (min-width: 1820px) {
	
	/* Стили для main-offer главной страницы */
	
	.main-offer--main .container::after {
		  bottom: -95px;
		  } 

	/* Стили для main-offer страницы Стартапам*/

	.main-offer--startup {
		 background-position: right -222px top 17px,  
		 left 25px bottom -219px; 
		}
	
	/* Стили для main-offer страницы Кубок Сократа*/

	.main-offer--socrat {
        background-size: 550px;
        background-position: bottom 151px right 27%;
	}
}

