.main-offer {
	position: relative;
	padding-top: 26px;
	padding-bottom: 53px;
	width: 100%;
	background-repeat: no-repeat;
}

.main-offer .container {
	overflow: visible;
}

.main-offer--education {
	background-image: url("../images/svg/svg-student.svg");
	background-position: 160px 20px;
}

.main-offer--courses {
	padding-bottom: 20px;
}

.main-offer--education .title span,
.main-offer--courses .title span{
    display: block;
}

.main-offer--courses .title span {
	margin-bottom: 20px;
}

.main-offer__text--desktop {
	display: none;
}

.main-offer--courses p,
.main-offer--courses .sign-up {
	display: none;
}

.main-offer--education .title {
	margin-bottom: 70px;
}

.main-offer--courses .title {
	font-size: 32px;
}

.main-offer__text-block {
	font-size: 14px;
	line-height: 1.66;
	color: $light-text;
}

.main-offer p {
	margin-bottom: 50px;
	font-size: 14px;
	line-height: 1.66;
	color: $light-text;
}

.main-offer--education p {
	margin-bottom: 46px;
	width: 70%;
}

.main-offer--education .sign-up__btn {
	color: $dark-text;
	background-image: linear-gradient(to bottom, rgba(209,233,42,1) 0%,rgba(137,155,3,1) 100%);
}

.main-offer--main {
	background-image: url("../images/svg/corn.svg");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: 190px 105px;
}

.main-offer--main .main-offer__text-block {
	margin-bottom: 30px;
}

.main-offer--main p {
	margin-bottom: 0;
	width: 70%;
}

.main-offer--main  .title {
	margin-bottom: 30px;
	line-height: 1.1;
}

.main-offer--main  .title__strong {
	font-size: 42px;
}

.main-offer--main .title__colored {
	color: $corp-blue;
}

@media (min-width: 375px) {

	.main-offer--education {
		background-position: 190px 12px;
	}

	.main-offer--courses .title {
		font-size: 36px;
	}

	.main-offer--main {
		background-position: 225px 55px;
		background-size: 256px 322px;
	}

	.main-offer--main p {
		width: 65%;
		line-height: 1.9;
	}
}

@media (min-width: 768px) {

	.main-offer--education {
		background-position: 95% 0;
	}

	.main-offer--education p {
		width: 50%;
		font-size: 20px;
	}

	.main-offer--main {
		background-size: 360px;
		background-position: 380px 120px;
 	}

 	.main-offer__text-block {
 		font-size: 20px;
 	}

 	.main-offer--main p {
		font-size: 20px;
		width: 50%;
	}
}

@media (min-width: 1024px) {

	.main-offer--main {
		background-image: none;
	}

	.main-offer--main .container {
		background-image: url("../images/svg/corn.svg");
		background-size: 360px;
		background-repeat: no-repeat;
		background-position: right 10px center;
	}
}

@media (min-width: 1440px) {

	.main-offer--education {
        padding-top: 130px;
	    background-size: contain;
	    background-position: 80% 20%;
	}

	.main-offer--courses {
		padding-top: 64px;
		padding-bottom: 67px;
	}

	.main-offer--courses .container {
		background-image: url("../images/svg/socrat.svg");
	    background-position: right top;
	    background-repeat: no-repeat;
	}

	.main-offer--education .title {
		margin-top: 10px;
		margin-bottom: 44px;
	}

	.main-offer--courses .title {
		font-size: 70px;
		line-height: 1.4;
	}

	.main-offer--courses .title span {
		margin-bottom: 0;
	}

	.main-offer p {
		font-size: 24px;
	}

	.main-offer--courses p {
		display: block;
		width: 552px;
	}

	.main-offer__text--desktop {
		display: block;
	}

	.main-offer__text--mobile {
		display: none;
	}

	.main-offer--education p {
		margin-bottom: 34px;
		width: 574px;
	}

	.main-offer--education .sign-up__dropdown {
		margin-bottom: 160px;
	}

	.main-offer--courses .sign-up {
		display: flex;
	}

	.main-offer--main p {
		font-size: 24px;
		width: 574px;
	}

	.main-offer--main {
		padding-top: 40px;
		background-image: none;

 	}

 	.main-offer--main .container {
 		position: relative;
 		overflow: visible;
 		background-image: none;

 		&::before {
 			@include element-style(558px, 701px, transparent);
 			right: -141px;
 			background-image: url("../images/svg/corn.svg");
 		    background-repeat: no-repeat;
 		    background-size: contain;
 		    background-position: center;
 		}

 		&::after {
 			@include element-style(220px, 325px, transparent);
 			left: -95px;
 			bottom: 0;
 			background-image: url("../images/svg/rocket-main-offer.svg");
 		    background-repeat: no-repeat;
 		    background-size: contain;
 		    background-position: center;
 		    transform: translate(0, 72%);
 		    opacity: 0.5;
 		}

 	}

 	.main-offer--main  .title {
 		margin-bottom: 10px;
		font-size: 88px;
	}

	.main-offer--main  .title__strong {
		font-size: 112px;
	}
}
