.first-step {
    position: relative;
    margin-top: -80px;
    width: 100%;
    color: $dark-text;
    overflow: hidden;
}

.first-step__background-wrap {
    width: 100%;
    background-color: $white;
    background-image: url("../images/svg/cosmonaut.svg");
    background-repeat: no-repeat;
    background-size: 305px;
    background-position: left -82px bottom 0;
}

.first-step .title__colored {
    color: $corp-blue;
}

.first-step .btn {
    margin-left: auto;
    margin-top: 45px;
    margin-bottom: 10px;
    height: 30px;
    width: 167px;
}

.first-step__text-block {
    font-size: 14px;
    line-height: 1.66;
}

.first-step__legend {
    font-size: 10px;
    width: 47%;
    margin-left: auto;
    text-align: right;
    line-height: 1.6;
}

.first-step__legend p {
    margin-top: 20px;
}

@media (min-width: 768px) {

    .first-step {
        margin-top: -190px;
    }

    .first-step__background-wrap {
        background-position: left 0 bottom 0;
    }

    .first-step__inner-wrap {
        padding-left: 40%;
    }

    .first-step .btn {
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .first-step__legend {
        margin-left: 0;
        width: 100%;
        text-align: left;
    }

    .first-step__legend p {
        margin-top: 5px;
    }
}

@media (min-width: 1024px) {

    .first-step {
        background-size: 430px;
        background-position: 10% 20%;
    }

    .first-step__inner-wrap {
        padding-left: 50%;
    }

    .first-step__text-block {
        font-size: 20px;
        line-height: 2;
    }

    .first-step__legend {
        font-size: 15px;
    }

    .first-step .btn {
        height: 36px;
        width: 267px;
        border-radius: 10px;
    }
}

@media (min-width: 1440px) {
    .first-step {
        background-size: 520px;
        background-position: left 210px top;
    }

    .first-step__text-block {
        font-size: 24px;
    }
}

@media (min-width: 1820px) {
    .first-step {
        background-position: left 380px top 10px;
    }

    .first-step__text-block {
        font-size: 24px;
    }
}
